@import "~components/UIElements/sass/variables";
@import "~components/UIElements/sass/mixins/typography";

.titleAndValue{
    display: flex;
    margin: 32px 0 16px 0;
    flex-direction: column;
    flex-shrink: 0;
  }
.textAreaContainer{
    composes: titleAndValue
}
