@import "~components/UIElements/sass/variables";
@import "~components/UIElements/sass/mixins/typography";
.radiobutton{
  height: 16px;
  width: 16px;
  cursor: pointer;
  flex-shrink: 0;
  fill:$marble;
}
.radiobuttonDisable{
  composes: radiobutton;
  fill:$smoke;
  cursor: not-allowed;
}
.radiobuttonLabel{
  font-size: 1.4rem;
  padding-left: 8px;
  margin-top: 2px;
  font-family: 'AvenirNextLTW01-Medium';
}
.radiobuttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 40px;
  color: $marble;
  cursor: pointer;
}
.radiobuttonContainerActive{
  .radiobutton{
    fill:$lead;
  }
  .radiobuttonLabel{
    color: $lead;
  }
}
.radiobuttonContainer:hover{
  .radiobutton{
    fill:$lead;
  }
  .radiobuttonLabel{
    color: $lead;
  }
}
.radiobuttonContainerDisable{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 40px;
  color: $smoke;
  cursor: not-allowed;
}
