@import "~components/UIElements/sass/variables";
@import "~components/UIElements/sass/mixins/typography";


.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  height: 100%;
}