@import "../sass/variables";
@import "../sass/mixins/buttons";
@import "../sass/mixins/border-radius";
@import "../sass/mixins/typography";






// Base styles
// ------------------------------

.Button {
  background: none;
  border: 1px solid transparent;
  border-radius: 20%/50%;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;

  cursor: pointer;
  overflow: hidden; // contain gradient on IE9
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-appearance: none;

}



// fill styles

.Button--primary-light {
  @include button-variant(white, $forest,$meadow,$meadow,$forest);
}

.Button--primary-dark {
  @include button-variant(white, $forest,$meadow,$meadow,$garden);
}

.Button--secondary-light {
  @include button-variant(white, $soapstone,$concrete,$soapstone,$concrete);
}
.Button--secondary-dark {
  @include button-variant(white, $concrete,$soapstone,$concrete,$marble);
}

.Button--primary-light-disabled, .Button--primary-dark-disabled{
  cursor: not-allowed;
  pointer-events: none;

  background-color: lighten($forest,10);
  color: rgba(255,255,255,0.5);

}

.Button--secondary-light-disabled{
  cursor: not-allowed;
  pointer-events: none;

  background-color: lighten($soapstone,10);
  color: rgba(255,255,255,1);
}

.Button--secondary-dark-disabled{
  cursor: not-allowed;
  pointer-events: none;

  background-color: lighten($concrete,10);
  color: rgba(255,255,255,0.5);
}

.Button--circle-disabled{
  cursor: not-allowed;
  pointer-events: none;
}

.Button-circle {
  text-align: center;
  border:1px solid $concrete;
  color: $concrete;
  padding: 0;
  &:hover{
    background-color: $lead;
    color: white;
    border:none;
  }
  &:focus{
    background-color: $meadow;
    color: white;
    border:none;
  }
}

.Button-circle svg{
  display: block;
  margin: auto;
}

.Button--circle-xs{
  @extend .Button-circle;
  width: 24px;
  height: 24px;
  line-height: 22px;
  font-size: 16px;
  border-radius: 12px;
}

.Button--circle-sm{
  @extend .Button-circle;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.Button--circle-md{
  @extend .Button-circle;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.Button--circle-lg{
  @extend .Button-circle;
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

// Button Sizes
// ------------------------------

.Button--lg {
  @include font-body-bd2();
  min-width: 112px;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 18%/50%;
}
.Button--md {
  @include font-body-bd3();
  min-width: 96px;
  height: 32px;
  padding-left: 12px;
  padding-right: 12px;
}
.Button--sm {
  @include font-body-bd5();
  min-width: 72px;
  height: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

a:hover{
  text-decoration: none;
}

a {
  display: inline-block;
}

.a--lg{
  line-height: 38px;
}


.a--md{
  line-height: 30px;
}

.a--sm{
  line-height: 20px;
}






